page-signup {

  .user-photo ion-avatar {
    margin: 0 auto;
    width: 120px;
    height: 120px;
  }

  .scroll-content{
    background-color: #ebf99882 !important;
    padding-top: 20px !important;
  }

  .item-input {
    margin-top: 10px !important;
  }

  .toolbar-background-md {
    background: #e3f578 !important;
    //background: url("http://4.bp.blogspot.com/-hnGDEYPX2Jo/TZC7VQFJdwI/AAAAAAAAADU/OZxSbeJ8hMk/s1600/fondo+degradado.gif");
  }
  //https://png.pngtree.com/thumb_back/fw800/back_pic/04/55/20/745863d7333e847.jpg
}
